<div class="flex items-end p-4 border-t bg-gray-50 dark:bg-transparent">
    <div class="flex items-center h-11 my-px">
        <button mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:emoji-happy'"></mat-icon>
        </button>
        <button
            class="ml-0.5"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:paper-clip'"></mat-icon>
        </button>
    </div>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full ml-4">
        <textarea
            class="min-h-5 my-0 resize-none"
            style="margin: 11px 0 !important; padding: 0 !important;"
            [rows]="1"
            matInput
            #messageInput></textarea>
    </mat-form-field>
    <div class="flex items-center h-11 my-px ml-4">
        <button
            mat-icon-button>
            <mat-icon
                class="rotate-90"
                [svgIcon]="'heroicons_outline:paper-airplane'"></mat-icon>
        </button>
    </div>
</div>