<!--start:header-->
<header class="header medical-term-page">
    <!--start:navBar-->
    <nav class="navbar fixed-top navbar-expand-md navbar-white px-0" id="navbar">
        <div class="container">
            <a class="navbar-brand p-0" href="./index.html">
                <img src="./assets/image/adept-health-logo.png" alt="Logo" />
            </a>
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse animate__animated animate__fadeIn" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="close-button">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-times"></i>
                        </button>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="./index.html">Home</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javacript:void(0)" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Services</span><i class="fas fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu p-0 m-0 rounded animate__animated animate__fadeIn"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item rounded-tl rounded-tr"
                                    href="./corporate-healthcare.html">Corporate
                                    Healthcare
                                    Solutions</a></li>
                            <li><a class="dropdown-item rounded-bl rounded-br" href="./managed-care.html">Managed Care -
                                    TPA
                                    Services</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="./contact-us.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end:navBar-->

    <!--start:hero-->

    <div class="hero">
        <div class="container">
            <div class="row my-auto align-items-center justify-content-between">
                <div class="hero-contain text-white col-lg-7 col-md-12 order-1 order-lg-0">
                    <div class="">
                        <p class="text-lg font-semibold leading-very-relaxed max-w-md mb-3" data-aos="fade-down"
                            data-aos-duration="700">
                            Tech-Driven Healthcare Solutions
                        </p>
                        <h1 class="fw-bold text-8x mb-3 title" data-aos="fade-down" data-aos-duration="600">
                            We Care.
                        </h1>
                        <p class="text-lg leading-very-relaxed max-w-md" data-aos="fade-down" data-aos-duration="700">
                            A Doctor Anywhere company since 2019. <br />
                            We help insurers, businesses and individuals navigate
                            healthcare solutions with ease, supported by AI technology and
                            machine-learning.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 order-0 order-lg-1">
                    <div class="hero-image">
                        <img data-aos="fade-left" src="./assets/image/hero-home-page.png" class="mw-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end:hero-->
    <div class="w-100">
        <img src="./assets/image/waves.png" alt="" class="w-100 h-100">
    </div>
</header>

<!--end:header-->